# Font files
_fonts/*.*

# Minted temp files
_minted-main/*

# Output files
*.pdf

# Vim swap files
*.sw*

# LaTeX temp files
*.aux
*.log
*.synctex*
*.toc
*.out
*.bbl
*.blg
*.idx
*.lof
*.lot
*.fls
*.fdb_latexmk
